.radio-container ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.radio-container label{
  color: #666666;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #d7cdcd;
}

.radio-container input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radio-container label{
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 1.15em;
  padding: 22px 0px 0px 74px;
  margin: 2px auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.radio-container:hover{
	color: #666666;
}

.radio-container .check{
  display: block;
  position: absolute;
  border: 5px solid #666666;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 23px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.radio-container .check:hover{
  border: 5px solid #666666;
}

.radio-container .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 2px;
  left: 2px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.radio-container input[type=radio]:checked ~ .check {
  border: 5px solid #80b435;
  color: #80b435;
}

.radio-container input[type=radio]:checked ~ .check::before{
  background: #80b435;
  color: #80b435;
}

.radio-container input[type=radio]:checked {
  color: #80b435;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #cdff84;
    position: absolute;
    right: 115px;
    top: -10px;
    z-index: 1001;
}
.arrow-border {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #BBBBBB;
    position: absolute;
    top: -11px;
    z-index: 1000;
    right: 114px;
}
.ngdialog.ngdialog-selectCity .ngdialog-content
{
  margin-top: -111px!important;
  float: right;
  margin-right: 14px!important;
  width: 542px!important;
  box-shadow: 2px 6px 17px #092c33;
  background-color: #cdff84!important;
}