<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772" style="position: relative;width: 1349px;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12" style="margin-top: -42px;margin-bottom: -115px;">
			
			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
					<table  class="table table-striped table-cart-padding" style="margin-top: -15px;margin-bottom: -36px;">
					<tr  style="font-size: 16px;height: 53px;">
						<th>Product</th>
						<th>Product Name</th>
						<th>Product quantity</th>
						<th>Product Price</th>
						<th>Product Total</th>

					</tr>
					<tr ng-repeat="product in products" style="height: 90px;">
						<td><img ng-src="{{product.image}}" width="auto" height="auto" class="cartImage" check-image/></td>
						<td>{{product.name}}</td>
						<td>{{product.quantity + " " + product.quan}}</td>
						<td>{{product.price + " Rs/" + product.quan}}</td>
						<td>Rs{{product.price*product.quantity}}</td>
					</tr>
					</table>
					<hr>
					<table>
						<tr style="height: 50px;">
							<td style="font-size: 19px;font-weight: 700;padding-left: 68px;padding-right: 368px;">Total :</td>
							<td style="font-size: 19px;font-weight: 700;padding-left: 408px;">{{ total }} </td>
						</tr>
					</table>
					<div class="row" ng-if="cancelButton">
				    <div class="col-sm-2 col-sm-offset-3" style="float: right;margin-right: 98px;margin-bottom: 12px;">
				        <button class="form-control btn btn-outline btn-register " ng-click="go()">
				          Cancel Order
				        </button>
				      </div>
				      </div>
					</ul>
				</div>
			</div>


	        </div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -20px;"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>