<div class='arrow'></div>
<div class='arrow-border'></div>
<div style="margin-left: 0px;margin-top: 6px;margin-bottom: 36px;">
	<div class="col-lg-12 col-md-12 col-sm-6" style="padding-bottom: 12px;">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<p style="font-size: 17px; font-weight: 700;">Select Your Main City :</p>
		    <select style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedmastercity" ng-change="mastercitychange(selectedmastercity)">
	              <option ng-repeat="m in mastercityName" value="{{m.id}}">{{m.name}}</option>
	        </select>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<p style="font-size: 17px; font-weight: 700;">Select Your City :</p>
		    <select style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedcity" ng-change="change(selectedcity)">
	              <option ng-repeat="n in cityName" ng-selected="{{n.name == 'Pune'}}" value="{{n.name}}">{{n.name}}</option>
	        </select>
		</div>
	</div>
</div>
