<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772" style="position: relative;width: 1349px;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
	    		<form action="" id="create-account_form" class="box panel panel-default" method="post" name="shipping_form">
					<h3 class="panel-heading" style="text-align:center;color: #ffffff;background-color: #80b435;">Shipping Address</h3>
					<div class="form_content panel-body clearfix">
						<div class="col-xs-12 col-sm-6 col-md-6">
						<img src="img/delivery-time.png" style="width: 377px;margin-top: 104px;margin-left: 210px;">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<label for="shipping_form.address">Address</label>
							<input type="text" class="account_input form-control" ng-model="user.address" name="shipping_form.address" ng-disabled="!newAddress" placeholder="Type your address" required>
						</div>
						<div class="form-group">
							<label for="state">State</label>
							<select name="state" class="account_input form-control" ng-model="user.state" ng-disabled="true" >
			                    <option value="" selected>Select a State</option>
			                    <option ng-value="state.id" ng-repeat="state in states"  ng-selected="state.id==user.state">{{state.name}}</option>
			                </select>
						</div>
						<div class="form-group">
							<label for="city">City</label>
							<select name="city" class="account_input form-control" ng-model="user.city"  ng-disabled="true">
								<option selected value='' >Select a City</option>
			                  <option ng-repeat="city in citys" ng-value="city.id" ng-selected="city.id==user.city">{{city.name}}</option>
			                </select>
						</div>
						<div class="form-group">
							<label for="area">Area</label>
							<select name="area" ng-model="user.area" required  ng-change="GetSelectedArea(user.area)" ng-disabled="!newAddress" class="account_input form-control">
			                  <option selected value='' >Select a Area</option>
			                  <option ng-repeat="area in Areas" ng-value="area.id" ng-selected="area.id==user.area">{{area.name}}</option>
			                </select>
						</div>
						<div class="form-group">
							<label for="deliverytime">Delivery Time</label>
							<select ng-init="user.deliveryTime = alltimings[0]" ng-model="user.deliveryTime" ng-options="time.name for time in alltimings" class="account_input form-control" required></select>
					        </select>
						</div>
						<div class="submit">
												
							<button class="btn btn-outline button button-medium exclusive" type="button" ng-disabled="shipping_form.$invalid || isDisabled" ng-click="go()" style="width: 100%;margin-top: 28px;">
								<span>
									<i class="fa fa-shopping-cart"></i>
										Order
								</span>
							</button>
						</div>
						</div>
					</div>
				</form>
	        </div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -20px;"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>