
<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772" style="position: relative;width: 1349px;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container" style="text-align:center;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
	    			<h1>
						<span class="cat-name">Thank You</span>
	            	</h1>
	            	<img src="img/smiley.png" style="height: 197px;width: 200px;padding-top: 27px;padding-bottom: 28px;"/>
	            	<h1>
						<span class="cat-name">For Shopping With Us</span>
	            	</h1>
				      <br>
				      <h3 class="h3 padding-btm" ng-if="delivery_time !== 'Deliver Today'">Your order will reach tomorrow</h3>
				      <h3 class="h3 padding-btm" ng-if="delivery_time !== 'Deliver Today'">between {{delivery_time}}</h3>
				      <h3 class="h3 padding-btm" ng-if="delivery_time === 'Deliver Today'">Your order will reach Today</h3>
				      <h3 class="h3 padding-btm" ng-if="delivery_time === 'Deliver Today'">between 4PM to 8PM</h3>
	            	<h3 class="payable  padding-btm">Pay <img src="img/arrow.png" style="height: 23px; width: 39px;"/>
				      <span>Rs.&nbsp;{{total}}</span>
				      </h3>
				      <h4 class="h4">To delivery Boy
				      </h4>
	        </div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -20px;"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>