<div class="col-xs-12 col-sm-6 col-md-6">
					<form class="box panel panel-default" name="login_form">
						<h3 class="panel-heading">Already registered?</h3>
						<div class="form_content panel-body clearfix">
							<div class="form-group">
								<label for="mobile">Mobile No</label>
								<input class="is_required validate account_input form-control" type="number" ng-model="user.mobile" name="mobile" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required/>
								<span class="invalid" ng-show="!login_form.mobile.$error.minLength && !login_form.mobile.$error.maxLength && login_form.mobile.$error.pattern">Invalid Mobile No</span>
							</div>
							<div class="form-group">
								<label for="passwd">Password</label>
								<input class="is_required validate account_input form-control" ng-model="user.password" minlength="5" maxlength="15" type="password" required/>
								<span class="invalid" ng-show="!login_form.password.$error.required && (login_form.password.$error.minlength || login_form.password.$error.maxlength) && login_form.password.$dirty">Passwords must be between 5 and 15 characters.</span>
							</div>
							<p class="lost_password form-group"><a ui-sref="forgot-password" title="Recover your forgotten password" rel="nofollow">Forgot your password?</a></p>
							<p class="submit">
								<input type="hidden" class="hidden" name="back" value="" />						
								<button type="submit" class="button btn btn-outline button-medium" ng-click="doLogIn()" ng-disabled="login_form.$invalid">
									<span>
										<i class="fa fa-lock left"></i>
										Sign in
									</span>
								</button>
							</p>
						</div>
					</form>
				</div>