<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772" style="position: relative;width: 1349px;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12" style="margin-top: -42px;margin-bottom: -115px;">
			
			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sp-6">
							<a showtab="" href="#tab_default_1" data-toggle="tab">
							<i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;Current Orders </a>
						</li>
						<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sp-6">
							<a showtab="" href="#tab_default_2" data-toggle="tab">
							<i class="fa fa-history "></i>&nbsp;&nbsp;&nbsp;Order History </a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
							<div ui-view="currentorder" style="margin-top: -15px;margin-bottom: -36px;"></div>
						</div>
						<div class="tab-pane" id="tab_default_2">
							<div ui-view="orderhistory" style="margin-top: -15px;margin-bottom: -36px;"></div>
						</div>
					</div>
				</div>
			</div>


	        </div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -20px;"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>