<div id="breadcrumb" class="clearfix">
	<div class="container">		
		<div class="breadcrumb clearfix">
				<h1 class="page-heading product-listing">
					<span class="cat-name">{{vegfruitname}}&nbsp;</span>
            	</h1>
			<a class="home" ui-sref="auth"><i class="fa fa-home"></i></a>
			<span class="navigation-pipe">&gt;</span>
					{{vegfruitname}}
		</div>
	</div>
</div>