<div>
	<table class="table table-striped table-condensed">
	<tr  style="font-size: 15px;">
		<th style="background-color: #c7da95;">Date</th>
		<th style="background-color: #c7da95;">Order No.</th>
		<th style="background-color: #c7da95;">Status</th>
		<th style="background-color: #c7da95;">Delivery Time</th>
		<th style="background-color: #c7da95;">Order Total</th>
	</tr>
	<tr ng-repeat="order in orders" ui-sref="orderDetails({orderType: 'old',id:order.id})">
		<td>{{order.date | date }}</td>
		<td>ORDTDRK{{10000+order.id}}v{{order.id}}</td>
		<td>{{order.status}}</td>
		<td>{{order.delivery_time}}</td>
		<td>Rs{{order.total}} </td>
	</tr>
	</table>
</div>