<div class="col-xs-12 col-sm-6 col-md-6">
	<form action="" id="create-account_form" class="box panel panel-default" name="signup_form">
		<h3 class="panel-heading">Create an account</h3>
		<div class="form_content panel-body clearfix">
			<div class="alert alert-danger" id="create_account_error" style="display:none"></div>
			<div class="form-group">
				<label for="user_name">Name</label>
				<input type="text"  class="account_input form-control" name="user_name" ng-model="user.name" ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="3" maxLength="20" required>
              	<span class="invalid" ng-show="!signup_form.user_name.$error.minLength && !signup_form.user_name.$error.maxLength && signup_form.user_name.$error.pattern && signup_form.user_name.$dirty">Invalid name</span>
			</div>
			<div class="form-group">
				<label for="user_email">Email</label>
				<input class="account_input form-control" type="email" name="user_email" ng-model="user.email" required>
              	<span class="invalid" ng-show=" signup_form.user_email.$error.email && signup_form.user_email.$dirty">Invalid email</span>
			</div>
			<div class="form-group">
				<label for="email_create">Mobile No</label>
				<input class="account_input form-control" type="number" name="mobile" ng-model="user.mobile" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required>
              	<span class="invalid" ng-show="!signup_form.mobile.$error.minLength && !signup_form.mobile.$error.maxLength && signup_form.mobile.$error.pattern">Invalid Mobile No</span>
			</div>
			<div class="form-group">
				<label for="email_create">Password</label>
				<input class="account_input form-control" type="password" name="password" ng-model="user.password" minlength="5" maxlength="15" required>
              	<span class="invalid" ng-show="!signup_form.password.$error.required && (signup_form.password.$error.minlength || signup_form.password.$error.maxlength) && signup_form.password.$dirty">Passwords must be between 5 and 15 characters.</span>
			</div>
			<div class="form-group">
				<label for="email_create">Confirm Password</label>
				<input class="account_input form-control" type="password" name="confirmpassword" ng-model="user.confirmpassword" type="password" match="user.password" required>
              	<span class="invalid" ng-show="signup_form.confirmpassword.$error.required && signup_form.confirmpassword.$dirty">Please confirm your password.</span>
                <span class="invalid" ng-show="!signup_form.confirmpassword.$error.required && signup_form.confirmpassword.$error.match && signup_form.password.$dirty">Passwords do not match.</span>
			</div>
			<div class="form-group">
				<label for="email_create">Address</label>
				<input class="account_input form-control" type="text" name="user_address" ng-model="user.address" required>
              	<span class="invalid" ng-show="signup_form.user_address.$error.required && signup_form.user_address.$dirty">Address Required</span>
			</div>
			<div class="form-group">
				<label for="email_create">State</label>
				<select class="account_input form-control" name="state" ng-model="user.state" ng-change="GetSelectedMasterCity(user.state)" required>
				                    <option value="" selected>Select a State</option>
				                    <option ng-value="state.id" ng-repeat="state in states">{{state.name}}</option>
				                </select>
			</div>
			<div class="form-group">
				<label for="email_create">Master City</label>
								 <select class="account_input form-control" name="city" ng-model="user.master_city" ng-disabled="!user.state" ng-change="GetSelectedCities(user.master_city)" required>
				                  <option selected value='' >Select a Master City</option>
				                  <option ng-repeat="mc in masterCity" ng-value="mc.id">{{mc.name}}</option>
				                </select>
			</div>
			<div class="form-group">
				<label for="email_create">City</label>
								 <select class="account_input form-control" name="city" ng-model="user.city" ng-disabled="!user.state" ng-change="GetSelectedAreas(user.city)" required>
				                  <option selected value='' >Select a City</option>
				                  <option ng-repeat="city in citys" ng-value="city.id">{{city.name}}</option>
				                </select>
			</div>
			<div class="form-group">
				<label for="email_create">Area</label>
								 <select class="account_input form-control"  name="area" ng-model="user.area" ng-disabled="!user.city" required>
				                  <option selected value='' >Select a Area</option>
				                  <option ng-repeat="area in Areas" ng-value="area.id">{{area.name}}</option>
				                </select>
			</div>
			<div class="form-group">
				<label for="email_create">WorkStatus</label>
								 <select class="account_input form-control" name="workstatus" ng-model="user.Status" required class="fourth_select">
				                  <option selected value='' > Select a WorkStatus  </option>
				                  <option ng-repeat="s in Status" ng-value="s.id">{{s.name}}</option>
				                </select>
			</div>
			<div class="form-group">
				<span style="font-weight: bold;">By clicking signup button you are agree to our &nbsp; <a ng-click="popup()">terms and condition </a></span>
			</div>
			<div class="submit">
				<input type="hidden" class="hidden" name="back" value="" />						
				<button class="btn btn-outline button button-medium exclusive" type="submit" ng-click="doSignUp()"  ng-disabled="signup_form.$invalid">
					<span>
						<i class="fa fa-user left"></i>
							signup
					</span>
				</button>
				<input type="hidden" class="hidden" name="SubmitCreate" value="Create an account" />
			</div>
		</div>
	</form>
</div>