<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>
			<div ui-view="pagetitle"></div>

	<section id="columns" class="columns-container">
		<div class="container">
			<div class="row">
			<form class="contact-form-box" name="contact_form">
			<fieldset>
			<h3 class="page-subheading">Payment Method :</h3>
			<div class="clearfix" style="margin-top: 29px;">
				<div class="col-xs-12 col-md-4">
					<div class="radio-container">
					<label ng-repeat="pay in paymentMethodList">
			       		<input type="radio" ng-change='GetSelectedPaymentMethod(paymethod)' name="pageSet" ng-value="pay.value" ng-model="$parent.paymethod" />{{pay.text}}
			       		<div class="check"></div>
			         </label>
					</div>
				</div>

				<div class="col-xs-12 col-md-8">
				<div ng-if="paymentmethod">
						<label class="item item-input" style="padding-left: 30px;background-color: #f8f8f8;">
			              <div class="col-md-12 col-xs-12">
							<div class="col-md-4 col-xs-4">
			              		<span class="input-label">Beneficiary Name :</span>
			              	</div>
			              	<div class="col-md-8 col-xs-8">
			              		<input type="text" ng-model="bank.beneficer_name" ng-disabled="true">
			              	</div>
			             </div>
			            </label>   
			            <label class="item item-input" style="padding-left: 30px;background-color: #f8f8f8;">
			            <div class="col-md-12 col-xs-12">
							<div class="col-md-4 col-xs-4">
			              		<span class="input-label">Account No :</span>
			              	</div>
			              	<div class="col-md-8 col-xs-8">
			              		<input type="text" ng-model="bank.beneficer_acc_no" ng-disabled="true">
			              	</div>
			             </div>
			            </label>    
			            <label class="item item-input" style="padding-left: 30px;background-color: #f8f8f8;">
			            <div class="col-md-12 col-xs-12">
							<div class="col-md-4 col-xs-4">
			              		<span class="input-label">IFSC Code :</span>
			              	</div>
			              	<div class="col-md-8 col-xs-8">
			              		<input type="text" ng-model="bank.ifsc_code" ng-disabled="true">
			              	</div>
			            </div>
			            </label>   
			            <label class="item item-input" style="padding-left: 30px;background-color: #f8f8f8;">
			            <div class="col-md-12 col-xs-12">
							<div class="col-md-4 col-xs-4">
			              		<span class="input-label">Account Type :</span>
			              	</div>
			              	<div class="col-md-8 col-xs-8">
			              		<input type="text" ng-model="bank.beneficer_acc_type" ng-disabled="true">
			              	</div>
			            </div>
			            </label>   
			            <label class="item item-input" style="padding-left: 30px;background-color: #f8f8f8;">
			            <div class="col-md-12 col-xs-12">
							<div class="col-md-4 col-xs-4">
			              		<span class="input-label">Bank Name :</span>
			              	</div>
			              	<div class="col-md-8 col-xs-8">
			              		<input type="text" ng-model="bank.bank_name" ng-disabled="true">
			              	</div>
			            </div>
			            </label>  
			            <label class="item item-input" style="padding-left: 30px;background-color: #f8f8f8;">
			            <div class="col-md-12 col-xs-12">
							<div class="col-md-4 col-xs-4">
			              		<span class="input-label">Branch Name :</span>
			              	</div>
			              	<div class="col-md-8 col-xs-8">
			              		<input type="text" ng-model="bank.branch_name" ng-disabled="true">
			              	</div>
			            </div>
			            </label>    
						
				</div>
				</div>
			</div>
			<div class="submit" style="margin-top: 45px;">
				<button type="button" class="button btn btn-outline button-medium" ng-click="UpdatePaymentType(paymethod)" ng-disabled="isDisabled" style="margin-left: 18px;"><span>Update</span></button>
			</div>
			</fieldset>
			</form>
			</div>
		</div>
	</section>
	<div ui-view="footer"></div>
	</section><!-- #page -->

</div>