<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772" style="position: relative;background-color: #fff;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
	    		<form action="" id="create-account_form" class="" name="profile_form" style="text-align: center;">
		    		<div class="col-xs-12 col-sm-6 col-md-6 hidden-xs hidden-sm hidden-md">
						<img src="img/profile.png" style="height: 193px;">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form_content panel-body clearfix" style="text-align: left;">
						<div class="form-group">
							<label for="edit">Name</label>
							<input type="text" class="account_input form-control" placeholder="Name" ng-disabled="true" ng-model="user.name" required>
						</div>
						<div class="form-group">
							<label for="edit">Change the password</label>
							<label class="switch">
							  <input type="checkbox" ng-model="editPassword">
							  <div class="slider round"></div>
							</label>
						</div>
						<div class="form-group">
							<label for="edit">Change the address</label>
							<label class="switch">
							  <input type="checkbox" ng-model="newAddress">
							  <div class="slider round"></div>
							</label>
						</div>
						<div ng-if="editPassword" >
						<div class="form-group">
							<label for="shipping_form.address">Please enter your old password.</label>
							<input type="password" class="account_input form-control" placeholder="Enter Password"   name="opassword" ng-model="user.originalPassword" type="password" required>
							<span class="invalid" ng-show="profile_form.opassword.$error.required && profile_form.opassword.$dirty">Please enter your password.</span>
						</div>
						<div class="form-group">
							<label for="shipping_form.address">Please enter your new password.</label>
							<input type="password" class="account_input form-control" placeholder="Password" name="npassword" ng-model="user.newpassword"  minlength="5" maxlength="15" required>
							<span class="invalid" ng-show="!profile_form.npassword.$error.required && (profile_form.npassword.$error.minlength || profile_form.npassword.$error.maxlength) && profile_form.npassword.$dirty">Passwords must be between 5 and 15 characters.</span>
						</div>
						<div class="form-group">
							<label for="shipping_form.address">Confirm your password.</label>
							<input type="password" class="account_input form-control" placeholder="Confirm Password" name="confirmpassword" ng-model="user.confirmpassword" type="password" match="user.newpassword" required>
							<span class="invalid" ng-show="profile_form.confirmpassword.$error.required && profile_form.confirmpassword.$dirty">Please confirm your password.</span>
                    		<span class="invalid" ng-show="!profile_form.confirmpassword.$error.required && profile_form.confirmpassword.$error.match && profile_form.npassword.$dirty">Passwords do not match.</span>
						</div>
						<div class="submit">
												
							<button class="btn btn-outline button button-medium exclusive" type="submit" ng-click="changePassword()"  ng-disabled="profile_form.$invalid || isPassDisabled" style="width: 100%;margin-top: 28px;">
								<span>
									Save
								</span>
							</button>
						</div>
							
						</div>
						<div ng-if="! editPassword ">
						<div class="form-group">
							<label for="shipping_form.address">Address</label>
							<input type="text" class="account_input form-control" name="user_address" ng-disabled="!newAddress" ng-model="user.address" placeholder="Type your address" required>
							<span class="invalid" ng-show="profile_form.user_address.$error.required && profile_form.user_address.$dirty">Address Required</span>
						</div>
						<div class="form-group">
							<label for="shipping_form.address">State</label>
							<select name="state" class="account_input form-control" ng-model="user.state" ng-disabled="!newAddress" ng-change="GetSelectedMasterCity(user.state)" ng-options="state.id as state.name for state in states" ng-selected="state.id==user.state" ng-value="state.id" required>
                     		</select>
						</div>
						<div class="form-group">
							<label for="city">Master City</label>
			                <select name="master_city" class="account_input form-control" ng-model="user.master_city" ng-disabled="!newAddress" ng-change="GetSelectedCities(user.master_city)" ng-options="mc.id as mc.name for mc in masterCity" ng-value="mc.id" ng-selected="mc.id==user.master_city" required>
                     		</select>
						</div>
						<div class="form-group">
							<label for="city">City</label>
			                <select name="city" class="account_input form-control" ng-model="user.city" ng-disabled="!newAddress " ng-change="GetSelectedAreas(user.city)" ng-options="city.id as city.name for city in citys" ng-value="city.id"  ng-selected="city.id==user.city" required>
                    		</select>
						</div>
						<div class="form-group">
							<label for="city">Area</label>
		                     <select name="area" class="account_input form-control" ng-model="user.area" ng-options="area.id as area.name for area in Areas" ng-value="area.id" ng-selected="area.id==user.area" required ng-disabled="!newAddress">
                    		</select>
						</div>
						<div class="form-group">
							<label for="city">WorkStatus</label>
		                    <select name="workstatus" class="account_input form-control" ng-model="user.status" ng-options="status.id as status.name for status in Status" ng-value="status.id" ng-selected="status.id===user.status" required ng-disabled="!newAddress">
                    		</select>
						</div>
						<div class="submit" ng-if="newAddress">
												
							<button class="btn btn-outline button button-medium exclusive" type="submit" ng-click="saveAddress()"  ng-disabled="profile_form.$invalid || isAddressDisabled" style="width: 100%;margin-top: 28px;">
								<span>
									Save Address
								</span>
							</button>
						</div>
							
						</div>
					</div>
					</div>
				</form>
	        </div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -20px;"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>