<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772" style="position: relative;width: 1349px;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
	    		
				<div class="col-xs-12 col-sm-3 col-md-3">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<form action="" id="create-account_form" class="box panel panel-default" name="otp_form">
					<h3 class="panel-heading" style="text-align:center;color: #ffffff;background-color: #80b435;">OTP Verification Screen</h3>
						<div class="form_content panel-body clearfix">
						
						<label>The One-Time-Password has sent to your registered mobile number. </label>
						<label>Please enter the One-Time-Password(OTP) below, then click submit to proceed.</label>
						<div class="form-group" style="text-align:center;margin-top: 23px;">
							<label>OTP &nbsp;</label>
							<input type="number" name="user_otp" ng-model="otp" required>
						</div>
						<div class="submit" style="text-align:center;margin-bottom: 32px;">
												
							<button class="btn btn-outline button button-medium exclusive" type="button" ng-click="submitOTP(otp)" ng-disabled="resendStatus" style="margin-top: -6px;">
								<span>
									Submit
								</span>
							</button>
						</div>
						<div class="form-group">
							<label>If you do not receive OTP via SMS within the next few minutes, Please type few number on above textbox for activating resend button then click on resend OTP for receiving new OTP.</label>
						</div>
						<div class="submit" style="text-align:center;margin-bottom: 20px;">
												
							<button class="btn btn-outline button button-medium exclusive" type="button" ng-click="resendOTP()" ng-disabled="!resendStatus" style="margin-top: -6px;">
								<span>
									Resend
								</span>
							</button>
						</div>
						</div>
					</form>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
				</div>
	        </div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -20px;"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>