<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>
			<div ui-view="pagetitle"></div>

	<section id="columns" class="columns-container">
		<div class="container">
			<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12" style="font-size: 18px;padding: 10px 15px 10px 15px;">
				<p>
				Vegetablebazar deliver fresh vegetable &nbsp; fruits at your doorstep on low price to market. No need to carry heavy bags, No need to bargaining with local vendor, No Need to keep change (Khula ruppee) and many more. You can beat crowd, long traffic queues, hassle of visiting local vendor or sabzi mandi (Wholesale market) &nbsp; save time, energy and fuel.
				</p>
				<p>
				Now ordering vegetables and fruits online is very easy with vegetablebazar. Enjoy free home delivery on all order, you need to order us minimum 100 /- Rs.The vegetablebazar is simple and user friendly to order vegetables and fruits with all available vegetable and fruit type on our online app and website. You are just a tap away from getting fresh vegetables and fruits at your doorstep on low price to market.
				</p>
				<p>
				Order by App or log on <a href="">www.vegetablebazar.com</a> or Just Give us a missed call on 7060339060, we will call you back to take your order.We currently serve in Roorkee. Coming soon in Haridwar and Dehradun. Stay tuned, we will be soon launching service in your city.We Guarntee Product Quality.
				</p>
			</div>
			</div>
		</div>
	</section>
	<div ui-view="footer"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>