<div id="topbar">
	<div class="container">
		<div class="row ApRow" style="">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn ">
				<div class="header_user_info pull-right e-translate-top">
					<div data-toggle="dropdown" class="popup-title">
					<i class="fa fa-list-alt"></i>
					</div>	
					<ul class="links">
						<li ng-if=" !globals.currentUser.username">
							<a ui-sref="signin" title="SigIn">
							<i class="fa fa-user"></i>SignIn</a>
						</li>
						<li ng-if=" globals.currentUser.username">
							<a ui-sref="profile" title="My account">
							<i class="fa fa-user"></i>Hello <span style="text-transform: capitalize;">{{name}}</span></a>
						</li>
						<li ng-if=" globals.currentUser.username">
							<a ui-sref="orders" title="Order Details">
							<i class="fa fa-list"></i> Order Details</a>
						</li>
						<li ng-if=" globals.currentUser.username">
							<a href="" title="Balance">
							<i class="fa fa-inr"></i> Balance :&nbsp; <span style="font-weight: bold;">{{balance}}Rs</span></a>
						</li>
						<li>
							<a href="" ng-click="showDialogBox(disableCity)">
							<i class="fa fa-map-marker"></i>{{city}}</a>
						</li>
						<li ng-if=" globals.currentUser.username" class="last">
							<a ui-sref="logout" title="Logout">
							<i class="fa fa-sign-out"></i>Logout</a>
						</li>
					</ul>
				</div>
				<div class="block-currencies pop pull-left e-scale hidden-xs hidden-sm hidden-md">
					<div class="popup-title">
					<span>Mail us on :</span><span>{{ContactInfo.email}}<!-- support@vegetablebazar.com --></span>
					</div>
				</div>
				<div class="block-languages pull-left e-scale hidden-xs hidden-sm hidden-md">
					<div class="popup-title" style="padding-left: 10px;">
					<span>Miss call on :</span><span>{{ContactInfo.mobile}}<!-- 7060339060 --></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>